@model IEnumerable<Tarefa>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container uk-flex uk-flex-center uk-flex-column">
        <form class="uk-flex uk-flex-between">
            <div class="uk-flex">
                <div class="uk-flex uk-flex-middle uk-margin-right">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-search-icon></span>
                        <input class="uk-input fundo-cinza-escuro" id="pesquisar" type="search"
                            aria-label="Not clickable icon" placeholder="Pesquisar tarefas...">
                    </div>
                </div>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid checkbox-filtro">
                    <label><input class="uk-checkbox" name="entrada" id="urgente" onchange="listarUrgente(), marcaDesmarca(this.id)" type="checkbox">
                        Urgente</label>
                    <label><input class="uk-checkbox" name="entrada" id="pendente" onchange="listarPendente(), marcaDesmarca(this.id)" type="checkbox">
                        Pendente</label>
                    <label><input class="uk-checkbox" name="entrada" id="concluida" onchange="listarConcluida(), marcaDesmarca(this.id)" type="checkbox">
                        Concluidos</label>
                </div>
            </div>
            <p uk-margin>
                <button class="uk-button cor-texto-branco uk-button-small fundo-azul-escuro" type="button"
                    uk-toggle="target: #modal-adicionar-tarefa">Nova Tarefa</button>
            </p>

        </form>

        <div id="modal-adicionar-tarefa" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-width-1-4">
                <h2 class="uk-modal-title uk-text-bold">Criar Tarefa</h2>
                <div class="uk-margin">
                    <label class="uk-form-label" for="descricao">Tarefa</label>
                    <div class="uk-form-controls">
                        <input class="uk-input fundo-cinza-escuro" id="descricao" name="descricao" type="text"
                            placeholder="Insira a tarefa" required />
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="dataVencimento">Data de Vencimento</label>
                    <div class="uk-form-controls">
                        <input class="uk-input fundo-cinza-escuro" id="dataVencimento" name="dataVencimento"
                            type="date" placeholder="Insira a Data de Vencimento" required />
                    </div>
                </div>
                <p class="uk-text-right" uk-margin>
                    <button class="uk-button uk-button-default uk-modal-close uk-button-small"
                        type="button">Cancelar</button>
                    <button class="uk-button fundo-azul-escuro uk-button-small cor-texto-branco"
                        onclick="cadastrar()" type="submit">Salvar</button>
                </p>
            </div>
        </div>

        <div style="height:500px; overflow-y:auto; display: block; ">
            <table class="uk-table uk-table-middle uk-table-divider ">
                <thead>
                    <tr>
                        <th class="uk-width-medium;">Tarefa</th>
                        <th class="uk-text-center uk-width-medium">Data Vencimento</th>
                        <th class="uk-text-center uk-width-medium">Urgente</th>
                        <th class="uk-text-center uk-width-medium"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model != null && @Model.Any())
                    {
                        foreach (var tarefa in @Model.OrderBy(t => t.DataVencimento))
                        {
                            <tr class="linha-tarefa" data-concluido="@tarefa.Concluido">
                                <td class="descricao">
                                    <label class="checkbox-concluido"><input class="uk-checkbox concluido" data-id="@tarefa.Id"
                                            @(@tarefa.Concluido ? "checked" : "") type="checkbox"></label>
                                    @tarefa.Descricao
                                </td>
                                <td class="uk-text-center dataVencimento">@tarefa.DataVencimento.Value.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @{
                                        var totalDias = (int)(@tarefa.DataVencimento.Value - DateTime.Now).TotalDays;
                                    }
                                    <div class="uk-text-center"><span
                                            class="uk-badge @(totalDias <= 0 && !@tarefa.Concluido ? "uk-label-danger" : "")">@(totalDias <= 0 && !@tarefa.Concluido ? "Sim"
                                                                                : "Não")</span></div>
                                </td>
                        <td class="uk-flex uk-flex-right">
                                <div class="uk-text-right uk-margin-right"><button class="botao editar" data-id="@tarefa.Id"
                                        type="button" uk-toggle="target: #modal-atualizar-tarefa" uk-icon="file-edit"></button>
                                </div>
                                <div class="uk-text-right "><button class="botao excluir" data-id="@tarefa.Id"
                                        type="button" uk-icon="trash"></button>
                                </div>
                        </td>
                    </tr>
                                        }
                    }

            <div id="modal-atualizar-tarefa" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-width-1-4">
                    <h2 class="uk-modal-title uk-text-bold">Editar Tarefa</h2>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="descricaoEditar">Tarefa</label>
                        <div class="uk-form-controls">
                            <input class="uk-input fundo-cinza-escuro" id="descricaoEditar" name="descricao" type="text"
                                placeholder="Insira a tarefa" required />
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="dataVencimentoEditar">Data de Vencimento</label>
                        <div class="uk-form-controls">
                            <input class="uk-input fundo-cinza-escuro" id="dataVencimentoEditar" name="dataVencimento"
                                type="date" placeholder="Insira a Data de Vencimento" required />
                        </div>
                    </div>
                    <p class="uk-text-right" uk-margin>
                        <button class="uk-button uk-button-default uk-modal-close uk-button-small"
                            type="button">Cancelar</button>
                        <button class="uk-button fundo-azul-escuro uk-button-small cor-texto-branco"
                            onclick="editar()" type="submit">Salvar</button>
                    </p>
                </div>
            </div>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    function dataFormatada(d) {
        const data = new Date(d),
            dia = data.getDate().toString().padStart(2, '0'),
            mes = (data.getMonth() + 1).toString().padStart(2, '0'),
            ano = data.getFullYear();
        return [ano, mes, dia].join('-');
    }

    const urgente = document.getElementById('urgente');
    const pendente = document.getElementById('pendente');
    const concluido = document.getElementById('concluida');

    function marcaDesmarca(id) {
    if (id == "urgente") {
        document.getElementById('pendente').checked = false;
        document.getElementById('concluida').checked = false;
    } else if (id == "pendente") {
        document.getElementById('urgente').checked = false;
        document.getElementById('concluida').checked = false;
    } else if (id == "concluida") {
        document.getElementById('urgente').checked = false;
        document.getElementById('pendente').checked = false;
    }
    }

    function cadastrar() {
        const descricao = $('#descricao').val();
        const dataVencimento = $('#dataVencimento').val();

        const obj = {
            descricao,
            dataVencimento
        }

        const date = Date.now();

        if (dataVencimento < dataFormatada(date)) {
            UIkit.notification({
                message: 'Erro: data inválida!',
                status: 'danger',
                pos: 'top-center',
                timeout: 1500,
            });
            return;
        }


        $.post('@Url.Action("Create", "Home")', obj)
            .done(function () {
                window.location.href = '@Url.Action("Index", "Home")';
            })
            .fail(function () {
                UIkit.notification({
                    message: 'Erro ao cadastrar tarefa!',
                    status: 'danger',
                    pos: 'top-center',
                    timeout: 1500,
                });
        });
    }

    function listarPendente() {
        const verificado = $("#pendente").is(":checked")
        $(".linha-tarefa").each(function () {
            let concluido = $(this).data("concluido");

            if (verificado && concluido.toLowerCase() == "true") {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    }

    function listarUrgente() {
        const verificado = $("#urgente").is(":checked")
        $(".linha-tarefa").each(function () {
            let urgente = $(this).find(".uk-label-danger").length == 1;
            if (verificado && !urgente) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    }

    function listarConcluida() {
        const verificado = $("#concluida").is(":checked")
        $(".linha-tarefa").each(function () {
            let concluido = $(this).data("concluido");
            if (verificado && concluido.toLowerCase() == "false") {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    }

    $('#pesquisar').keyup(function () {
        const text = $(this).val().toLowerCase().trim();
         $(".linha-tarefa").show().filter(function (){
            let nome = $(this).find(".descricao").text().toLowerCase();
            return nome.trim().indexOf(text) == -1;
         }).hide();
    });


    $(document).ready(function () {
        $('.concluido').click(function () {
            const id = $(this).data('id');

            $.post('@Url.Action("AlternarConcluido", "Home")', {
                Id: id
            }).done(function () {
                window.location.reload();
            }).fail(function () {
                alert('Erro ao alterar botao de concluido!');
            });
        });
    });


    $(document).ready(function () {
        $('.excluir').click(function () {
            const id = $(this).data('id');
            const linha = $(this).closest('tr');

            $.post('@Url.Action("Deletar", "Home")', {
                Id: id
            }).done(function () {
                linha.remove();
                window.location.reload();
            }).fail(function () {
                alert('Erro ao excluir tarefa!');
            });
        });
    });

    function converterDataParaAmericano(dataBr) {
        const partes = dataBr.split('/');
        if (partes.length !== 3) return '';
        const dia = partes[0].padStart(2, '0');
        const mes = partes[1].padStart(2, '0');
        const ano = partes[2];
        return ano + '-' + mes + '-' + dia;
    }

    let idTarefa = null;
    $(document).ready(function () {
            $('.editar').click(function () {
                idTarefa = $(this).data('id'); 
                const linha = $(this).closest('tr'); 
                console.log(linha)
                const descricao = $(linha).find(".descricao").text().trim();
                const dataVencimento = $(linha).find(".dataVencimento").text().trim();
                
                $('#descricaoEditar').val(descricao);
                $('#dataVencimentoEditar').val(converterDataParaAmericano(dataVencimento));
            });
    });

    function editar() {
        const descricao = $('#descricaoEditar').val();
        const dataVencimento = $('#dataVencimentoEditar').val();

        const date = Date.now();

        if (dataVencimento < dataFormatada(date)) {
            UIkit.notification({
                message: 'Erro: data inválida!',
                status: 'danger',
                pos: 'top-center',
                timeout: 1500,
            });
            return;
        }

        $.post('@Url.Action("Atualizar", "Home")', {
                Id: idTarefa,
                Descricao: descricao,
                DataVencimento: dataVencimento
            }).done(function () {
                window.location.reload();
            }).fail(function () {
                UIkit.notification({
                message: 'Erro ao atualizar tarefa!',
                status: 'danger',
                pos: 'top-center',
                timeout: 1500,
            });
            });
    }

    
</script>
